{% extends 'products/base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static '/vendor/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/fonts.css' %}">
{% endblock %}


{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    {% for category in categories %}
                        <a href="#" class="list-group-item">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8 products">
                <div class="row">

                    {% for product in products %}

                        <div class="col-sm-4">
                            <div class="product">
                                <div class="product-img">
                                    <a href="#"><img src="{{ product.image.url }}" width="200px" height="200px" alt=""></a>
                                </div>
                                <p class="product-title">
                                    <a href="#">{{ product.name }}</a>
                                </p>
                                <p class="product-desc">{{ product.description }}</p>
                                <p class="product-price">Цена: {{ product.price }}₽</p>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="footer-distributed">
			<div class="footer-left">
				<h3>Case<span>Phone</span></h3>
				<p class="footer-links">
					·
					<a href="#">Главная</a>
					·
					<a href="#">О нас</a>
					·
					<a href="#">Контакты</a>
					·
				</p>
				<p class="footer-company-name">MedLighter & clown | 2023</p>
				<div class="footer-icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
				</div>
			</div>
			<div class="footer-right">
				<p>Связь с нами</p>
				<form action="#" method="post">
					<input type="text" name="email" placeholder="Ваша электронная почта">
					<textarea name="message" placeholder="Сообщение"></textarea>
					<button>Send</button>
				</form>
			</div>
		</footer>
{% endblock %}

